.messenger {
  position: relative; 
  overflow: hidden; 
  border: 1px solid #000000;
  margin: 0px;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.messenger form { 
  width: 100%; 
}


.messenger ul { list-style-type: none; margin: 0; padding: 0; overflow:hidden}
.messenger ul:hover { overflow-y:scroll; }
.messenger ul li{ padding: 5px 10px; }
.messenger ul li:nth-child(odd) { background: #eee; }
