/* Canvas positioning */
#myDrawing {
  border: 1px solid #000000; 
  position: fixed;
  top: 220px;
  left: 250px;
  width: 70%;
  height: auto;
  margin-right: 150px;
  min-width: 150px;
}

/* Scoreboard positioning */
#pictScore {
  position: absolute;
  right: 0;
  top: 0;
  width: 16%;
  min-width: 150px;
  height: auto;
}
