/* Canvas positioning */
#myDrawing {
  border: 1px solid #000000;
  width:100%;
}

.no-padding {
  padding: 0 !important;
}

.title {
  text-align: center;
}

.statusLine {
  padding: 10px;
}

#gameSettings {
  border-top: 1px solid #000000;
  visibility: hidden;
}

#gameSettings .row {
  margin-bottom: 15px;
}

.material-icons.md-18 {
  font-size: 18px;
}
