extends layout
block content
  div.row
    div.col-md-3
      div.messenger
    div.col-md-6
      h1 Online Pictionary
      p#pictStatus Please wait for a new game to start
      canvas#myDrawing(height=500, width=500, style={border: '1px solid #000000',width:"100%",height:"auto"})
        p Your browser doesn't support canvas
    div.col-md-3
      table.table#pictScore
        thead
          tr
            th Name
            th Score
        tbody
  div.row
    div.col-md-3
    div.col-md-6
      button.btn.btn-default(type='button' id='clear') Clear
      button.btn.btn-default(type='button' id='skip') Skip

  script(src='/js/drawing.js')
  script(src='/js/messenger.js')
  script.
    const NOT_STARTED = 0;
    const WAITING = 1;
    const STARTING = 2;
    const IN_PROGRESS = 3;
    const ROUND_ENDED = 4;
    const GAME_OVER = 5;
    let whiteboard;

    const updateScore = (score) => {
      let scoreboard = $('#pictScore tbody').empty();
      for (key in score) {
        if (score.hasOwnProperty(key))
          scoreboard.append($('<tr>').append($('<td>').text(key)).append($('<td>').text(score[key])));
      }
    };

    $(document).ready(function () {
      let socket = io(), users;
      whiteboard = $("#myDrawing").pictWhiteboard({socket: socket, drawing: #{drawing || false}});
      let messenger = $('.messenger').pictMessenger({socket: socket, height: 60});
      socket.on('gameDetails', (data) => {
        console.log(data)
        updateScore(data.score);
        users = data.users;
        switch (data.status) {
          case STARTING:
            $('#pictStatus').text(`New Game starting soon`);
            break;
          case WAITING:
            $('#pictStatus').text(`Waiting for more players`);
            break;
          case IN_PROGRESS:
            $('#pictStatus').text(`Round in progress`);
            break;
          case ROUND_ENDED:
            $('#pictStatus').text(`New Round starting soon`);
            break;
          case GAME_OVER:
            $('#pictStatus').text(`Game Over: New Game starting soon`);
            break;
        }
        whiteboard.load(data.clicks);
      }).on('newUser', (score) => {
        updateScore(score);
      }).on('nextRound', (data) => {
        if (data)
          updateScore(data.score);
      }).on('status', (status) => {
        switch (status) {
          case STARTING:
            $('#pictStatus').text(`New Game starting soon`);
            break;
          case WAITING:
            $('#pictStatus').text(`Waiting for more players`);
            break;
          case IN_PROGRESS:
            $('#pictStatus').text(`Round in progress`);
            break;
          case ROUND_ENDED:
            $('#pictStatus').text(`New Round starting soon`);
            break;
          case GAME_OVER:
            $('#pictStatus').text(`Game Over: New Game starting soon`);
            break;
        }
      });
      if ("#{game}" != "")
        socket.emit('joinRoom', '#{game}');
      $('#clear').click(function() {
        socket.emit('clear');
      });
      $('#skip').click(() => {
        socket.emit('skipDrawing');
      });
    });