extends layout
block content
    h1= title
    p Welcome to #{title}
    canvas#myDrawing(height=500,width=500,style={border:'1px solid #000000'})
        p Your browser doesn't support canvas
    script(src='/js/drawing.js')
    script.
        $(document).ready(function() {
            let socket = io();
            initialiseCanvas($("#myDrawing"),socket,#{drawing});
        });