extends layout
block scripts
  link(rel='stylesheet', href='/stylesheets/messenger.css')

block content
  div.messenger
    script(src='/js/messenger.js')
    script.
      $('.messenger').PictMessenger();